/* Global  */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700");
@font-face {
  font-family: "Big Noodle Titling";
  src: url(/font/10089.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1003px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Header  */
header {
  background-color: #f8f6f6;
}

.headerlogo {
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

.headerlogo__img {
  float: left;
}

.headerlogo__name {
  color: #696969;
  text-align: center;
  text-transform: uppercase;
  color: #696969;
  font-size: 2.5rem;
  padding-left: 52px;
  letter-spacing: 4px;
}

.headerlogo__name font {
  font-family: "Big Noodle Titling";
  font-weight: 400;
  text-transform: uppercase;
}

.burgermenu {
  float: right;
  width: 38px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 64px;
  margin-right: 6px;
}

.burgermenu__line {
  width: 38px;
  height: 1px;
  border: 2px solid #464646;
}

/* Section 2. Slider */
.slider {
  background-color: #030303;
  opacity: 0.8;
}

.tegline {
  padding-top: 323px;
  position: relative;
  text-align: center;
}

.teglineheader {
  color: #3d3d3d;
  font-family: "Big Noodle Titling";
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 94px;
  letter-spacing: 4.8px;
  padding-top: 0px;
  color: #d6d5d5;
  font-size: 4.5rem;
  padding-left: 27px;
  padding-right: 28px;
  letter-spacing: 10.8px;
}

.teglineheader__text {
  color: #696969;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0px;
  color: #d6d5d5;
  font-size: 2.25rem;
  letter-spacing: 3.6px;
}

.teglineheader__text font {
  font-family: "Big Noodle Titling";
  font-weight: 400;
  text-transform: uppercase;
}

.teglineheader__icon {
  padding-top: 171px;
  padding-bottom: 19px;
}

.textlineheader__scrolldown {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 45px;
}

.tegline::after {
  content: "\e684";
  color: #3a3939;
  font-family: "Pe-icon-7-stroke";
  font-size: 7.5em;
  font-weight: 400;
  position: absolute;
  right: -111px;
  top: 305px;
}

.tegline::before {
  content: "\e686";
  color: #3a3939;
  font-family: "Pe-icon-7-stroke";
  font-size: 7.5em;
  font-weight: 400;
  position: absolute;
  left: -117px;
  top: 305px;
}

/* Section 3. About us */
.sections__header {
  color: #3d3d3d;
  font-family: "Big Noodle Titling";
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 94px;
  letter-spacing: 4.8px;
}

.sections__line {
  width: 153px;
  height: 3px;
  background-color: #f4511e;
  margin: 0 auto;
}

.sections__text {
  color: #696969;
  font-family: "Roboto - Thin";
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  padding-top: 26px;
}

.sectionsaboutus {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 118px;
}

.tools {
  width: 320px;
  background-color: #ebebeb;
  text-align: center;
}

.tools__icon {
  display: inline-block;
  width: 50px;
  height: 57px;
  color: #f4511e;
  font-family: "Pe-icon-7-stroke";
  font-size: 60px;
  font-weight: 400;
  padding-top: 31px;
}

.tools__header {
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  padding-top: 24px;
}

.tools__text {
  color: #707070;
  font-family: "Roboto-Thin";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  padding-top: 15px;
  padding-bottom: 23px;
}

/* Section 4. Vidio content */
.video {
  background-color: #171f23;
}

.videosection {
  display: flex;
  justify-content: space-between;
}

.videosection__text {
  text-align: center;
  margin-left: -80px;
}

.videosection__text__header {
  color: #e7e7e7;
  font-family: "Roboto";
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 130px;
}

.videosection__text__button {
  width: 127px;
  background-color: #e84c3d;
  text-transform: uppercase;
  color: #ebebeb;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 46px;
  margin-left: 177px;
  margin-right: 173px;
  padding-top: 13px;
  padding-bottom: 10px;
}

.videosection__text__maintext {
  color: #696969;
  font-family: "Roboto-Thin";
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 28px;
}

.videosection__play {
  position: relative;
}

.videosection__play__icon {
  width: 92px;
  height: 106px;
  color: #f5f5f5;
  font-family: "Pe-icon-7-stroke";
  font-size: 9.375rem;
  font-weight: 400;
}

.videosection__play__img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  right: -174px;
  top: 1px;
}

.videosection__play__icon {
  position: absolute;
  top: 117px;
  right: 110px;
}

/* Section 5. Our work */
.works__header {
  color: #3d3d3d;
  font-family: "Big Noodle Titling";
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 94px;
  letter-spacing: 4.8px;
}

.works__line {
  width: 153px;
  height: 3px;
  background-color: #f4511e;
  margin: 0 auto;
}

.works__text {
  color: #696969;
  font-family: "Roboto - Thin";
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  padding-top: 26px;
}

.menu {
  width: 618px;
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
  margin-left: 192px;
  margin-bottom: 26px;
}

.menu a {
  color: #3d3d3d;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
}

.menu a:hover {
  font-weight: 700;
  border-bottom: 1px solid #e84c3d;
}

.rows {
  max-width: 100%;
  width: 100%;
}

/* Section 6. Clients */
.clients {
  background-color: #1a1a1a;
}

.examples {
  display: flex;
  width: 671px;
  position: relative;
  padding-top: 107px;
  padding-bottom: 75px;
  margin: 0 auto;
}

.examples__img {
  flex-wrap: wrap;
}

.examples__img:last-of-type {
  width: 43px;
  height: 43px;
}

.examples__img:first-of-type {
  width: 45px;
  height: 39px;
}

.examples__arrow-left {
  width: 16px;
  height: 27px;
  color: #5d5d5d;
  font-family: "Pe-icon-7-stroke";
  font-size: 72px;
  font-weight: 400;
  position: absolute;
  left: -145px;
  top: 90px;
}

.examples__arrow-right {
  width: 16px;
  height: 27px;
  color: #5d5d5d;
  font-family: "Pe-icon-7-stroke";
  font-size: 72px;
  font-weight: 400;
  position: absolute;
  right: -91px;
  top: 90px;
}

.examples__text {
  color: #ececec;
  font-family: "Mg Open Modata";
  font-size: 2.06rem;
  font-weight: 400;
}

/* Section 7. Who we are */
.whoweare__header {
  color: #3d3d3d;
  font-family: "Big Noodle Titling";
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 94px;
  letter-spacing: 4.8px;
}

.whoweare__line {
  width: 153px;
  height: 3px;
  background-color: #f4511e;
  margin: 0 auto;
}

.whoweare__text {
  color: #696969;
  font-family: "Roboto - Thin";
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  padding-top: 26px;
}

.team {
  margin-top: 84px;
  margin-bottom: 105px;
}

.person {
  width: 320px;
  background-color: #ebebeb;
  text-align: center;
  padding-top: 72px;
}

.person__header {
  color: #3d3d3d;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 31px;
}

.person__profession {
  color: #3d3d3d;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
}

.menuicon {
  font-family: "Font Awesome";
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 21px;
}

.checkbox {
  width: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.ring {
  width: 13px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 40px;
  margin-bottom: 79px;
}

.ring:first-of-type {
  background-color: #8e8181;
}

.skills {
  width: 661px;
  background-color: #ebebeb;
  padding-left: 64px;
}

.skills__header {
  color: #3d3d3d;
  font-family: "Roboto-Bold Condensed";
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 123px;
}

.skills__text {
  color: #858383;
  font-family: "Roboto-Thin";
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 26px;
  padding-right: 52px;
  letter-spacing: 0.36px;
}

.team {
  display: flex;
  justify-content: space-between;
}

.wrapperprogram {
  margin-top: 19px;
}

.program {
  padding-top: 20px;
  display: block;
  position: relative;
}

.program__title {
  color: #3d3d3d;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  float: left;
}

.program__line {
  overflow: hidden;
  position: absolute;
  top: 29px;
  right: 94px;
}

.program__procent {
  color: #3d3d3d;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  float: right;
  padding-right: 54px;
}

/* Section 8. Features */
.features {
  background-color: #171f23;
}

.somefeatures {
  padding-top: 60px;
  text-align: center;
}

.somefeatures__header {
  color: #f6f6f6;
  font-family: "Roboto-Condensed";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 7.2px;
}

.featuresdescription {
  margin-top: 44px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 68px;
}

.featuresproducts {
  width: 90px;
  text-align: center;
}

.featuresproducts__name {
  color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 31px;
}

.featuresproducts__icon {
  color: #ff7062;
  font-family: "Pe-icon-7-stroke";
  font-size: 60px;
  font-weight: 400;
}

.featuresproducts__number {
  padding-top: 31px;
  color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 300;
}

.featuresproducts:nth-of-type(2) {
  width: 145px;
}

.featuresproducts:nth-of-type(3) {
  width: 141px;
}

.featuresproducts:nth-of-type(4) {
  width: 142px;
}

/* Section 9. Blog posts */
.blog {
  width: 320px;
  background-color: #ebebeb;
}

.blogs__header {
  color: #3d3d3d;
  font-family: "Big Noodle Titling";
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 94px;
  letter-spacing: 4.8px;
}

.blogs__line {
  width: 153px;
  height: 3px;
  background-color: #f4511e;
  margin: 0 auto;
}

.blogs__text {
  color: #696969;
  font-family: "Roboto - Thin";
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  padding-top: 26px;
}

.blogswrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 115px;
}

.blog__img {
  width: 320px;
  height: 218px;
  background-color: #817272;
}

.blog__header {
  color: #505050;
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 1.8px;
  padding-top: 38px;
  padding-left: 24px;
}

.blog__text {
  color: #797979;
  font-family: "Roboto - Thin";
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.7px;
  padding-top: 28px;
  padding-left: 27px;
}

.datetime {
  padding-top: 28px;
  padding-left: 31px;
}

.datetime__icon {
  width: 12px;
  height: 12px;
  color: #797979;
  font-family: "Pe-icon-7-stroke";
  font-size: 0.825rem;
  font-weight: 400;
}

.datetime__date {
  color: #8a8989;
  font-family: "Roboto-Condensed";
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  top: -2px;
}

.likecomment {
  padding-bottom: 24px;
  padding-top: 28px;
}

.likecomment__icon {
  width: 12px;
  height: 11px;
  color: #797979;
  font-family: "Pe-icon-7-stroke";
  font-size: 14px;
  font-weight: 400;
}

.likecomment__number {
  color: #8a8989;
  font-family: "Roboto - Condensed";
  font-size: 0.625rem;
  display: inline-block;
  position: relative;
  top: -2px;
}

.contentwrapper {
  width: 290px;
  display: flex;
  justify-content: space-between;
}

/* Blog_2 */
.blog:nth-child(2) {
  position: relative;
}

.blog:nth-child(2) .blog__header {
  padding-top: 34px;
}

.blog__buttons {
  width: 107px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 86px;
  left: 110px;
}

/* Section 10. Plans */
.plans {
  background-color: #171f23;
}

.someplans {
  text-align: center;
}

.someplans__header {
  color: #f6f6f6;
  font-family: "Roboto-Condensed";
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  padding-top: 60px;
}

/* Block */
.planscontent {
  padding-top: 96px;
  padding-bottom: 94px;
  display: flex;
  margin-left: 27px;
}

.planscontentblock {
  width: 232px;
  text-align: center;
  padding-top: 42px;
  background-color: #322e31;
  border: 1px solid #2a2629;
}

.planscontentblock__header__firstpart {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.825rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.41px;
}

.planscontentblock__header__secondtpart {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
}

.planscontentblock__main__feature {
  color: #ffffff;
  font-size: 0.825rem;
  font-family: "Roboto Thin";
  font-weight: 100;
  letter-spacing: 1.41px;
}

.planscontentblock__main__feature__number {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font: bold;
  font-weight: 700;
  letter-spacing: 1.41px;
}

.planscontentblock__main {
  height: 321px;
  margin-top: 38px;
  background-color: #1f282c;
  padding-top: 48px;
}

.planscontentblock__main__inform {
  height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planscontentblock__header__secondtpart__dolar {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

/* Button */
.planscontentblock__button {
  width: 125px;
  border-radius: 3px;
  background-color: #f6744b;
  margin: 0 auto;
  margin-top: 76px;
}

.planscontentblock__button__inform {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 0.825rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;
  padding: 11px 21px 11px 22px;
}

/* Hover effect */
.planscontentblock:hover {
  border: 1px solid #f6744b;
}

.planscontentblock:hover .planscontentblock__main__feature__number {
  color: #f6744b;
}

/* Section 11. heading */
.heading__header {
  color: #3d3d3d;
  font-family: "Big Noodle Titling";
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 94px;
  letter-spacing: 4.8px;
}

.heading__line {
  width: 153px;
  height: 3px;
  background-color: #f4511e;
  margin: 0 auto;
}

.heading__text {
  color: #696969;
  font-family: "Roboto - Thin";
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  padding-top: 26px;
}

/* Form */
.form {
  margin-top: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 116px;
}

.form__class {
  width: 371px;
  height: 70px;
  border-bottom: 1px solid #cacaca;
}

.form__class__heading {
  color: #696969;
  font-family: "Roboto";
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.form__class__heading__inf {
  color: #f6744b;
  letter-spacing: 1.4px;
}

.form__class__heading__line {
  width: 371px;
  height: 1px;
  background-color: #cacaca;
}

.form__class:last-child {
  width: 773px;
  height: 102px;
  padding-top: 44px;
}

.form__button {
  width: 203px;
  background-color: #f6744b;
  margin: 60px auto 80px auto;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 43px;
}

/* Section Map */
.map {
  background-color: #0c1215;
}

.maplocal {
  color: #ffffff;
  font-family: "Roboto - Bold Condensed";
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.4px;
  padding-top: 33px;
  padding-bottom: 34px;
  position: relative;
}

.maplocal::after {
  content: "\e688";
  width: 18px;
  height: 11px;
  color: #f6744b;
  font-family: "Pe-icon-7-stroke";
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  top: 17px;
}

/* Footer */
footer {
  background-color: #171f23;
}

.footer {
  color: #ffffff;
  font-weight: 400;
  padding-top: 49px;
  text-transform: uppercase;
  text-align: center;
}

.footer__header {
  font-size: 1.5rem;
  letter-spacing: 2.4px;
  padding-bottom: 14px;
}

.footer__slogan {
  font-family: "Roboto - Condensed";
  font-size: 0.875rem;
  letter-spacing: 1.4px;
  padding-bottom: 18px;
}

.footer__menuicon {
  width: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  color: #e2e0e0;
  font-family: "Font Awesome";
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding-bottom: 76px;
}
